/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/frontend/all.css'
*/

#experience-title h1 { margin-bottom: 5px; font-size: 48px; }
#experience-location { padding-bottom: 20px; color: #525252;	} 
#experience-title { 
										h1  {margin-bottom: 5px; font-size: 48px; }
										span { font-size: 18px; } 
									}
#experience_profile_picture_field { padding-bottom: 30px; }

#experience-location span.glyphicon.glyphicon-map-marker { margin-left: 10px }
#experience_left_part { padding-left: 0px; } 